.auth-container{
    width:350px;
    margin:100px auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.auth-container input{
    padding:10px;
}

.auth-container button{
    padding:10px;
    cursor:pointer;
}